<app-nav-bar></app-nav-bar>
<div class="main-body">
    <img src="./assets/images/accueil.jpg" alt="">
  </div>

  <div class="container">
    <h2 class="text-center mt-4">Les meilleurs gardiens </h2>
    <div class="row">
        <div *ngFor="let gardien of gardienList" class="col-3 mb-5 d-flex justify-content-evenly">
            <div class="card" style="width: 18rem; cursor: pointer; ">
                <img  class="card-img-top" >
                <div class="card-body">
                  <h3 class="card-title text-center"> <strong>nom gardien :</strong>  {{gardien.nom}} </h3>
                  <h3 class="card-title text-center"> <strong> prenom gardien :</strong>  {{ gardien.prenom}}</h3>
                    <p class="card-text text-center "   > <strong>type du gardien :</strong> {{gardien.typeGardien}}</p>
                    <p class="card-text text-center "  > <strong>type du gardien :</strong>  {{gardien.typeAnimaux}}</p>
                    <p class="card-text"><strong>Tarif :</strong> {{gardien.prixJour}} DT<small>par jour</small></p>
                  <a class="btn btn-success d-flex justify-content-center" (click)="goTo(gardien)">Info et Réservation</a>
                </div>
              </div>
        </div>
    </div>
  </div>


<app-footer></app-footer>