<form [formGroup]="gardienForm" (ngSubmit)="login(gardienForm.value)">
    <h1 class="h3 mb-3 fw-normal" style="text-align: center;">Gardien</h1>
    <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
      Adresse mail ou/et Mot de passe est incorrecte !
    </div>
    <div class="form-floating">
      <input type="email" class="form-control" id="mail" placeholder="name@example.com" formControlName="mail">
      <label for="mail" class="form-label">Email address</label>
    </div>
    <div class="form-floating mt-3">
      <input type="password" class="form-control" id="password" placeholder="Password" formControlName="password" >
      <label for="password" class="form-label">Password</label>
    </div>
    <button type="submit" class="btn btn-primary w-100 py-2 mt-4" >Se connecter</button>

  </form>