<form>
    <h1 class="h3 mb-3 fw-normal">Se connecter</h1>

    <div class="form-floating mb-3">
      <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
      <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating mb-5">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
      <label for="floatingPassword">Password</label>
    </div>

    <button class="btn btn-primary w-100 py-2" type="submit">Se connecter</button>
    <div>
        <p>
            j'ai un compte <a href="#">Se connecter</a>
        </p>
    </div>
    <div>
        ou se connecter avec <a href="#">google</a>
    </div>
</form>