.form{
    padding-top: 50%;
    padding-right: 13%;
}
.login-google p:first-of-type{
    text-align: center;
}
.login-form{
    background-color: #F5F5F5;
    width: 40%;
    height: 100vh;
    padding-left: 5%;
}

.login-backgound-image img {
    width: 100%;
    height: 100vh;
  } 
  