<app-gardien-nav></app-gardien-nav>
<form [formGroup]="profilForm" (ngSubmit)="createProfil(profilForm.value)">
            <div class="mb-3">
              <label for="product-name" class="form-label">Nom</label>
              <input
                formControlName="nom"
                type="text"
                class="form-control"
                id="nom"
              >
            </div>
            <div class="mb-3">
              <label for="product-name" class="form-label">Prenom</label>
              <input
                formControlName="prenom"
                type="text"
                class="form-control"
                id="product-name"
              >
              
            </div>
            <div class="mb-3">
              <label for="product-name" class="form-label">Adresse mail</label>
              <input
                formControlName="mail"
                type="text"
                class="form-control"
                id="product-name"
              >
            </div>
            <div class="mb-3">
              <label for="product-name" class="form-label">numero de telephone</label>
              <input
                formControlName="teleNum"
                type="text"
                class="form-control"
                id="product-name"
              >
            </div>
            <div class="mb-3">
              <label for="product-name" class="form-label">mot de passe </label>
              <input
                formControlName="password"
                type="text"
                class="form-control"
                id="product-name"
              >
            </div>
            <button type="submit" class="btn btn-warning"  style="width: 150px; ">Modifier</button>
</form>