<app-nav-bar></app-nav-bar>

<div class="container">
    <main>

        <div class="">
            <!-- Section de facturation -->
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-header">
                        <h3>Facture</h3>
                    </div>
                    <div class="card-body">
                        <!-- Afficher les détails de la réservation -->
                        <p>Nom: <span id="billing-name">{{reservationDetails.nomFacture}}</span></p>
                        <p>Prénom: <span id="billing-lastname">{{reservationDetails.penomFacture}}</span></p>
                        <p>adresse: <span id="billing-adresse">{{reservationDetails.adresseFacture}}</span></p>
                        <p>mail: <span id="billing-tel">{{reservationDetails.mailFacture}}</span></p>
                        <p>Type Animal: <span id="billing-type">{{reservationDetails.nomAnimal}}</span></p>
                        <p>Nom Animal: <span id="billing-animal">{{reservationDetails.typeAnimal}}</span></p>
                        <p>Date Debut <span id="billing-datedebut">{{reservationDetails.dateDebut}}</span></p>
                        <p>Date Fin <span id="billing-datefin">{{reservationDetails.dateFin}}</span></p>
                        <h4>Total: <span id="total-price">{{reservationDetails.total}}dt</span></h4>
                        <div class="alert alert-success" role="alert">
                            Merci de votre confiance , on vous contactez dans le plus tot possible . 
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </main>
</div>


<app-footer></app-footer>