<app-nav-bar></app-nav-bar>

<div class="container">
    <main>

        <div class="">
            <!-- Section de facturation -->
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-header">
                        <h3>Facture</h3>
                    </div>
                    <div class="card-body">
                        <!-- Afficher les détails de la réservation -->
                        <p>Nom: <span id="billing-name"></span></p>
                        <p>Prénom: <span id="billing-lastname"></span></p>
                        <p>adresse: <span id="billing-adresse"></span></p>
                        <p>numero telephone: <span id="billing-tel"></span></p>
                        <p>Type Animal: <span id="billing-type"></span></p>
                        <p>Nom Animal: <span id="billing-animal"></span></p>
                        <p>Date Debut <span id="billing-datedebut"></span></p>
                        <p>Date Fin <span id="billing-datefin"></span></p>
                        <h4>prix jour: <span id="total-price">0 dt</span></h4>
                        <h4>Total: <span id="total-price">0 dt</span></h4>
                       
                        <p>Date Fin <span id="billing-datefin"></span></p>
                    </div>
                </div>
            </div>

        </div>
    </main>
</div>


<app-footer></app-footer>