<form [formGroup]="adminForm" (ngSubmit)="login(adminForm.value)" >
    <h1 class="h3 mb-3 fw-normal" style="text-align: center;">Administration</h1>
    <div class="form-floating">
      <input type="email" class="form-control" id="mail" placeholder="name@example.com" formControlName="mail" required>
      <label for="mail">Email address</label>
    </div>
    <div class="form-floating mt-3">
      <input type="password" class="form-control" id="password" placeholder="Password" formControlName="password" required>
      <label for="password">Password</label>
    </div>
    <button class="btn btn-primary w-100 py-2 mt-4" type="submit">Se connecter</button>

  </form>